<div class="section-box text-center small-10 large-4 large-centered small-centered columns">
  <h1 class="section-title">Favorite Tattoos</h1>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <% @tattoos.each do |tattoo| %>
        <div class="large-uncentered medium-centered small-centered large-4 medium-8 small-12 columns">
          <div class="tattoo-box">
            <a href="<%= tattoo_path(tattoo) %>"><img class="fillwidth" src="<%= tattoo.url %>"></a>
          </div>
          <div class="panel">
            <h5 class="text-center"><%= link_to tattoo.title, tattoo_path(tattoo) %></h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
