
<div class="form-background small-8 medium-6 large-4 small-centered columns">
  <h1 class="section-title text-center">Update Tattoo</h1>
  <%= render 'form' %>
</div>

<%= link_to 'Back', tattoo_path(@tattoo) %>
