<div id="tattoo_listings">
  <% @tattoos.each do |tattoo| %>
  <div class="panel large-centered large-6 columns">
    <%= link_to image_tag(tattoo.url, class: "tattoo-thumbnail"), tattoo_path(tattoo) %>
    <p><%= tattoo.title %></p>
  </div>
  <% end %>
</div>
