<div class="panel small-8 medium-6 large-5 large-centered medium-centered small-centered column tattoo_form">
  <h1 class="section-title text-center">Submit Your Tattoo!</h1>

  <%= render 'form' %>
</div>
