<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="splash-title panel large-centered small-centered
       large-4 medium-4 small-4 columns">
          <h1 class="splash-title">Welcome to:</h1>
      </div>
    </div>
    <div class="large-8 small-8 large-centered small-centered columns">
      <img class="panel" src="/banner.png">
    </div>
    <div class="row">
      <% unless signed_in? %>
      <div class="large-6 medium-12 small-12 columns">
        <div class="panel">
          <h5 class="tattoo-title text-center"><%= link_to "Sign Up", new_user_registration_path %></h5>
        </div>
      </div>
      <div class="large-6 medium-12 small-12 columns">
        <div class="panel">
          <h5 class="tattoo-title text-center"><%= link_to "Sign In", new_user_session_path %></h5>
        </div>
      </div>
      <% end %>
    </div>
    <div class="section-box panel large-centered small-centered
     large-10 medium-8 small-8 columns">
        <h1 class="splash-body">Come share your tattoos, and see other users' ink!</h1>
        <h1 class="splash-body"><%= link_to "Enter", tattoos_path %></h1>
    </div>
  </div>
</div>
