/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

$white: #fff;
$black: #000;
$gray: #808080;

body {
  background: url("/background.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

footer {
  background-color: $black;
  height: auto;
}

.banner-image {
  padding-top: 15px;
}

.page-nav {
  background-color: $gray;
  color: $black;
  margin-top: 35px;
  padding-left: 15px;
}

.page-nav a {
  color: black;
}

.section-title {
  font-family: 'Miltonian Tattoo', cursive;
}

.section-box {
  background-color: $gray;
  border: 1px solid $black;
  margin: 5px;
  padding: 10px;
}

.form-background {
  background-color: $white;
  margin: 10px;
  padding: 10px;
}

.main {
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.account-box {
  width: 75%;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.user-profile {
  max-height: 150px;
  max-width: 150px;
}

.user-show {
  float: left;
}

.tattoo-image {
  max-height: 450px;
  max-width: 500px;
}

.tattoo-box {
  background-color: rgb(32, 32, 32);
  margin: auto;
  text-align: center;
}

.fillwidth {
  height: 300px;
  min-width: 100%;
}

.account-settings {
  background-color: rgb(209, 188, 163);
  color: rgb(122, 15, 9);
  padding: 10px;
}

.cancel-account {
  background-color: rgb(34, 34, 34);
  color: rgb(190, 184, 179);
  margin: auto;
  text-align: center;
}
